@model Tuple<List<DiasComputer.Core.DTOs.Product.ProductFeaturesViewModel>,int>
@{
    ViewData["Title"] = "لیست ویژگی های محصول";
}


<div class="margin-pages">
    <h1>لیست ویژگی های محصول</h1>
    <p>
        <a class="btn btn-primary" asp-action="AddFeatures" asp-route-productId="@ViewBag.ProductId">ویژگی جدید</a>
        @*<partial name="_SearchInUsersPartialView" />*@
    </p>
    <table class="table table-responsive-lg col-12 table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Item1.First().FeatureTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Item1.First().IsShortFeature)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Item1.First().ParentId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Item1.Where(f => f.ParentId == null))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FeatureTitle)
                        <a asp-action="AddFeatures" asp-route-featureId="@item.FeatureId" asp-route-productId="@ViewBag.ProductId" class="btn btn-success btn-sm">افزودن مجموعه جدید</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsShortFeature)
                    </td>
                    <td>
                        @if (Model.Item1.Any(f => f.ParentId == item.FeatureId))
                        {
                            <ul>
                                @foreach (var subItem in Model.Item1.Where(f => f.ParentId == item.FeatureId))
                                {
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <li>@subItem.FeatureTitle : @subItem.FeatureDescription</li>
                                            </div>
                                            <div class="text-left col-md-6 marginButtons">
                                                <span>
                                                    <a class="btn btn-sm btn-outline-secondary" asp-action="UpdateFeature" asp-route-productId="@subItem.ProductId" asp-route-featureId="@subItem.FeatureId">ویرایش</a>
                                                    <a class="btn btn-sm btn-outline-secondary" asp-action="DeleteFeature" asp-route-productId="@subItem.ProductId" asp-route-featureId="@subItem.FeatureId">حذف</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </ul>
                        }
                    </td>
                    <td class="text-center marginButtons">
                        <a class="btn btn-sm btn-outline-success" asp-action="UpdateFeature" asp-controller="Feature" asp-route-featureId="@item.FeatureId">ویرایش</a>
                        <br />
                        <a class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#exampleModal" onclick="SendID(@item.ProductId,@item.FeatureId)">حذف</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="padding-top: 200px;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="exampleModalLabel">حذف محصول</h5>
                </div>
                <div class="modal-body">
                    آیا از حذف این محصول اطمینان دارید ؟
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">انصراف</button>&nbsp; | &nbsp;
                    <form asp-action="DeleteFeature" method="get">
                        <input id="productId" type="hidden" name="productId" />
                        <input id="featureId" type="hidden" name="featureId" />
                        <button type="submit" class="btn btn-danger">تایید و حذف</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->

    <div class="col-md-12 text-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @if (Model.Item2 > 1)
                {
                    @for (var i = 1; i <= Model.Item2; i++)
                    {
                        <li class="page-item"><a class="page-link @((i == @ViewBag.PageId) ? "active" : "")" onclick="changePageNo(@i)">@i</a></li>
                    }
                }
            </ul>
        </nav>
    </div>
</div>

<!--Paging-->
<form asp-action="FeaturesIndex" asp-controller="Feature" id="change">
    <input type="hidden" value="1" name="pageId" id="pageNo" />
</form>


<script>
    function changePageNo(pageId)
    {
        $("#pageNo").val(pageId);
        $("#change").submit();
    }

    function SendID(productId,featureId) {
        var productIdValue = document.getElementById("productId");
        var featureIdValue = document.getElementById("featureId");
        productIdValue.value = productId;
        featureIdValue.value = featureId;
    }
</script>

<!--EndPaging-->
