@using DiasComputer.Core.DTOs.Account
@using DiasComputer.Core.DTOs.Orders
@using DiasComputer.Utility.Convertors
@model DiasComputer.Core.DTOs.Account.ShowProfileViewModel
@{
    ViewData["Title"] = "حساب کاربری من";
    List<LatestWishListViewModel> wishLists = ViewBag.LatestWishLists;
    List<OrdersViewModel> LatestOrders = ViewBag.MyLatestOrders;

}

<main class="profile-user-page default">
    <div class="container">
        <div class="row">
            <div class="profile-page col-xl-9 col-lg-8 col-md-12 order-2">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="col-12">
                            <h1 class="title-tab-content">اطلاعات شخصی</h1>
                        </div>
                        <div class="content-section default">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <p>
                                        <span class="title">نام و نام خانوادگی :</span>
                                        <span>@Model.UserName</span>
                                    </p>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <p>
                                        <span class="title">پست الکترونیک :</span>
                                        <span>@Model.EmailAddress</span>
                                    </p>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <p>
                                        <span class="title">شماره تلفن همراه:</span>
                                        <span>@Model.Phone</span>
                                    </p>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <p>
                                        <span class="title">کد ملی :</span>
                                        <span>@Model.NationalCode</span>
                                    </p>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <p>
                                        <span class="title">شماره کارت :</span>
                                        <span>@Model.BankAccountCardNumber</span>
                                    </p>
                                </div>
                                <div class="col-12 text-center">
                                    <a href="/MyProfile/ChangeDetails" class="btn-link-border form-account-link">
                                        ویرایش اطلاعات شخصی
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="col-12">
                            <h1 class="title-tab-content">لیست آخرین علاقمندی ها</h1>
                        </div>
                        <div class="content-section default">
                            <div class="row">
                                <div class="col-12">
                                    @foreach (var item in wishLists)
                                    {
                                        <div class="profile-recent-fav-row">
                                            <a href="/Products/@item.ProductId" class="profile-recent-fav-col profile-recent-fav-col-thumb">
                                                <img src="/images/productThumbnailImages/@item.ProductImage">
                                            </a>
                                            <div class="profile-recent-fav-col profile-recent-fav-col-title">
                                                <a href="/Products/@item.ProductId">
                                                    <h4 class="profile-recent-fav-name">
                                                        @item.ProductTitle
                                                    </h4>
                                                </a>
                                                <div class="profile-recent-fav-price">
                                                    @if (@item.AvailableStatus)
                                                    {
                                                        <p class="text-success">موجود</p>
                                                    }
                                                    else
                                                    {
                                                        <p class="text-danger">ناموجود</p>
                                                    }
                                                </div>
                                            </div>
                                            <div class="profile-recent-fav-col profile-recent-fav-col-actions">
                                                <a class="btn btn-danger" href="/MyProfile/WishList/Remove/@item.WishListId">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </div>
                                        </div>
                                    }

                                </div>
                                <div class="col-12 text-center">
                                    <a href="/MyProfile/Wishlist" class="btn-link-border form-account-link">
                                        مشاهده و ویرایش لیست مورد علاقه
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h1 class="title-tab-content">آخرین سفارش ها</h1>
                    </div>
                    <div class="col-12 text-center">
                        @if (!LatestOrders.Any())
                        {
                            <div class="content-section pt-5 pb-5">
                                <div class="icon-empty">
                                    <i class="now-ui-icons travel_info"></i>
                                </div>
                                <h1 class="text-empty">موردی برای نمایش وجود ندارد!</h1>
                            </div>
                        }
                        else
                        {
                            <div class="content-section pt-5 pb-5">
                                <table class="table table-bordered table-striped table-responsive-lg">
                                    <thead>
                                        <tr>
                                            <th>شماره سفارش</th>
                                            <th>تاریخ سفارش</th>
                                            <th>مبلغ کل سفارش</th>
                                            <th>وضعیت پرداخت</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in LatestOrders)
                                        {
                                            <tr>
                                                <td>
                                                    DC-@item.OrderId
                                                </td>
                                                <td>@item.Date.ToShamsi()</td>
                                                <td>

                                                    <p class="text-primary">
                                                        <b>
                                                            @item.OrderSum.ToString("#,0") تومان
                                                        </b>
                                                    </p>
                                                </td>
                                                <td>
                                                    @if (@item.OrderStatus)
                                                    {
                                                        <p class="text-success">پرداخت موفق</p>
                                                    }
                                                    else
                                                    {
                                                        <p class="text-danger">پرداخت ناموفق</p>
                                                    }
                                                </td>
                                                <td>
                                                    <a class="btn btn-primary" href="/MyProfile/Orders/ShowDetails/@item.OrderId">جزئیات این سفارش</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>
                </div>
            </div>
            @await Component.InvokeAsync("ProfileMenu")
        </div>
    </div>
</main>
