@using DiasComputer.Utility.Convertors
@model Tuple<List<DiasComputer.Core.DTOs.Orders.OrdersWaitingForActionViewModel>,int>
@{
    ViewData["Title"] = "سفارشات";
}
<div class="margin-pages">
    <h1>تمام سفارشات</h1>
    <p>
        <form method="get" asp-action="AllOrders">
            <label>جستجو بر اساس شناسه سفارش :</label>
            <br/>
            <div class="col col-md-12">
                <div class="row">
                    <div class="col col-md-6">
                        <input name="orderId" type="number" class="form-control" placeholder="شناسه سفارش را وارد کنید"/>
                    </div>
                    <div class="col col-md-3">
                        <input type="submit" value="فیلتر کن" class="btn btn-primary"/>
                    </div>
                </div>
            </div>
        </form>
    </p>
    <table class="table table-responsive-lg col-12 table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(modelItem => Model.Item1.First().OrderId)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => Model.Item1.First().UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => Model.Item1.First().UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => Model.Item1.First().OrderSum)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => Model.Item1.First().OrderDate)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => Model.Item1.First().IsFinally)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Item1)
            {
                <tr>
                    <td class="text-secondary">
                        <p><b>DC-@item.OrderId</b></p>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td class="text-danger">
                        <p><b>@item.OrderSum.ToString("#,0") تومان</b></p>
                    </td>
                    <td>
                        <p>@item.OrderDate.ToShamsi()</p>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsFinally)
                    </td>
                    <td class="text-center marginButtons">
                        <a class="btn btn-sm btn-outline-success" asp-action="ProcessOrder" asp-route-orderId="@item.OrderId" asp-route-userId="@item.UserId">پردازش</a>
                                                <br />
                            <a class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#exampleModal" onclick="SendID(@item.OrderId)">حذف</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="padding-top: 200px;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="exampleModalLabel">حذف محصول</h5>
                </div>
                <div class="modal-body">
                    آیا از حذف این محصول اطمینان دارید ؟
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">انصراف</button>&nbsp; | &nbsp;
                       <form asp-action="Delete" method="get">
                        <input id="orderId" type="hidden" name="orderId" />
                        <button type="submit" class="btn btn-danger">تایید و حذف</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->

    <div class="col-md-12 text-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @if (Model.Item2 > 1)
                {
                    @for (var i = 1; i <= Model.Item2; i++)
                    {
                        <li class="page-item"><a class="page-link @((i == @ViewBag.PageId) ? "active" : "")" onclick="changePageNo(@i)">@i</a></li>
                    }
                }
            </ul>
        </nav>
    </div>

</div>

<!--Paging-->
<form asp-action="AllOrders" asp-controller="Order" method="get" id="change">
    <input type="hidden" value="1" name="pageId" id="pageNo" />
</form>

<script>

    function changePageNo(pageId)
    {
        $("#pageNo").val(pageId);
        $("#change").submit();
    }

    function SendID(orderId) {
        var orderIdValue = document.getElementById("orderId");
        orderIdValue.value = orderId;
    }

</script>
